#slider {
	width: 400x; /* important to be same as image width */
	height: 200px; /* important to be same as image height */
	background: url(../images/loader.gif) no-repeat center center;
	position: relative; /* important */
	overflow: hidden; /* important */
	margin:0px;
	padding:0px 0px 0px 18px;;
	}
#sliderContent{
	width: 300px; /* important to be same as image width or wider */
	top: 0;
	position: absolute;
	margin:0px;
	padding:0px;
	list-style-type: none
	}
	
.sliderImage{
	position: relative;
	float: left;
	display: none;
	margin:0px;
	padding:0px;
	}
.sliderImage span {
	position: absolute;
	font: 12px/15px Arial, Helvetica, sans-serif;
	padding: 5px 0px 5px 5px;
	width: 295px;
	background-color: #000;
	filter: alpha(opacity=50);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
	color: #fff;
	display: none;
	}
.clear {
	clear: both;
	}
.sliderImage span strong {
	font-size: 14px;
	}
.top {
	top: 0;
	left: 0;
	}
.bottom {
	bottom: 0;
	left: 0;
	}

.sliderImage a img {
	border:0px;
	margin:0px;
	padding:0px;
}